<ion-header>
    <ion-navbar>
        <ion-title>{{product?.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card >

        <ion-row padding>
            <ion-col>
                <ion-avatar item-start>
                    <img class="product-image" [src]="product.imageUrl"/>
                </ion-avatar>
            </ion-col>
            <ion-col>
                <h1><b>{{product.name}}</b></h1><br>
                <p><i>{{product?.description}}</i></p>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card >
        <ion-row padding>
            <ion-col *ngIf="product.listOfViolations.length === 0" >
                <ion-icon color="secondary" name="thumbs-up"></ion-icon>
                <b>{{product?.listOfViolations.length}}</b> espèces menacées
            </ion-col>
            <ion-col *ngIf="product.listOfViolations.length !== 0" >
                <ion-icon color="danger" name="thumbs-down"></ion-icon>
                <b>{{product?.listOfViolations.length}}</b> espèces menacées
            </ion-col>
            <ion-col *ngIf="product.additives.length === 0" >
                <ion-icon color="secondary" name="thumbs-up"></ion-icon>
                <b>{{product?.additives.length}}</b> additifs
            </ion-col>
            <ion-col *ngIf="product.additives.length !== 0" >

                <ion-icon color="danger" name="thumbs-down"></ion-icon>
                <b>{{product?.additives.length}}</b> additifs

            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card >
        <ion-item>
            <img *ngIf=" product?.nutritionGrade != ''" src="./assets/imgs/{{product?.nutritionGrade}}.png">
        </ion-item>
        <ion-item>
            <p *ngIf="product?.certifications != ''">Certifications:</p>
            <ul>
                <li *ngFor="let item of product?.certifications.split(',')">{{item}}</li>
            </ul>
        </ion-item>
    </ion-card>

    <ion-card >
        <ion-item>
            <h2>Espèces menacées:</h2>
            <p *ngIf="product.listOfViolations.length === 0"> Aucune</p>
            <ul>
                <li *ngFor="let item of product?.listOfViolations">{{item}}</li>
            </ul>
        </ion-item>
        <ion-item>
            <h2>Additifs:</h2>
            <p *ngIf="product.additives.length === 0"> Aucun</p>
            <ul>
                <li *ngFor="let item of product?.additives">{{item}}</li>
            </ul>
        </ion-item>
        <ion-item>
            <h2>Allergènes:</h2>
            <p *ngIf="product.allergens.length === 0"> Aucun</p>
            <ul>
                <li *ngFor="let item of product?.allergens">{{item}}</li>
            </ul>
        </ion-item>
        <ion-item>
            <h2>Traces:</h2>
            <p *ngIf="product?.traces == ''"> Aucune</p>
            <ul>
                <li *ngFor="let item of product?.traces.split(',')">{{item}}</li>
            </ul>
        </ion-item>

    </ion-card>

    <ion-card >
        <ion-item>
            <p>Quantité: {{product?.quantity}}</p>
        </ion-item>
        <ion-item>
            <p>Tableau nutritionnel: TODO</p>
        </ion-item>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-fab right bottom name="navToScan">
        <button ion-fab color="light" (click)="navToScan()">
            <ion-icon name="barcode"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab left bottom>
        <button ion-fab color="light" (click)="navToHistory()">
            <ion-icon name="list"></ion-icon>
        </button>
    </ion-fab>
</ion-footer>
