<ion-header>
    <ion-navbar>
        <ion-title>{{product?.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content >
    <ion-grid>
        <ion-card >
            <ion-row >
                <ion-col col-3>
                    <ion-avatar center>
                        <img class="product-image" [src]="product.imageUrl"/>
                    </ion-avatar>
                </ion-col>
                <ion-col col-6>
                    <h2><b>{{product.name}}</b></h2><br>
                    <p><i>{{product?.description}}</i></p>
                </ion-col>
                <ion-col col-3>
                    <img *ngIf="product.listOfViolations.length + product.additives.length === 0" class="product-icon-100" src="./assets/imgs/like-48.png">
                    <img *ngIf="product.listOfViolations.length + product.additives.length !== 0" class="product-icon-100" src="./assets/imgs/unlike-48.png">
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card >
            <ion-row>
                <ion-col col-3>
                    <img class="product-icon-40" src="./assets/imgs/whale-40.png">
                </ion-col>
                <ion-col col-6>
                    <ion-content text-center>
                        <br><h2>Espèces menacées </h2><hr>
                    </ion-content>
                </ion-col>
                <ion-col col-1>
                    <ion-content text-right>
                        <br><h2><b>{{product?.listOfViolations.length}}</b></h2>
                    </ion-content>
                </ion-col>
                <ion-col col-2>
                    <img *ngIf="product.listOfViolations.length === 0" class="product-icon-40" src="./assets/imgs/like-48.png">
                    <img *ngIf="product.listOfViolations.length !== 0" class="product-icon-40" src="./assets/imgs/unlike-48.png">
                </ion-col>
                <ion-col col-12>
                    <ion-item text-center>
                        <ng-container *ngFor="let item of product?.listOfViolations">
                            <ion-icon color="secondary" name="arrow-dropright"></ion-icon> {{item}}
                        </ng-container>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card >
            <ion-row>
                <ion-col col-3>
                    <img class="product-icon-40" src="./assets/imgs/skull-40.png">
                </ion-col>
                <ion-col col-6>
                    <ion-content text-center>
                        <br><h2>Additifs </h2><hr>
                    </ion-content>
                </ion-col>
                <ion-col col-1>
                    <ion-content text-right>
                        <br><h2><b>{{product?.additives.length}}</b></h2>
                    </ion-content>
                </ion-col>
                <ion-col col-2>
                    <img *ngIf="product.additives.length === 0" class="product-icon-40" src="./assets/imgs/like-48.png">
                    <img *ngIf="product.additives.length !== 0" class="product-icon-40" src="./assets/imgs/unlike-48.png">
                </ion-col>
                <ion-col col-12>
                    <ion-item text-center>
                        <ng-container *ngFor="let item of product?.additives">
                              <ion-icon color="secondary" name="arrow-dropright"></ion-icon> {{item}}
                        </ng-container>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card  >
            <ion-row>
                <ion-col col-3>
                    <img class="product-icon-40" src="./assets/imgs/food-40.png">
                </ion-col>
                <ion-col col-6>
                    <ion-content text-center>
                        <br><h2>Qualité nutrionnelle </h2><hr>
                    </ion-content>
                </ion-col>
                <ion-col col-3>
                    <img class="product-image" *ngIf=" product?.nutritionGrade != ''" src="./assets/imgs/{{product?.nutritionGrade}}.png">
                </ion-col>
                <ion-col col-3>
                    <img class="product-icon-40" src="./assets/imgs/microorga-40.png">
                </ion-col>
                <ion-col col-6>
                    <ion-content text-center>
                        <br><h2>Produits allergènes </h2><hr>
                    </ion-content>
                </ion-col>
                <ion-col col-3>
                </ion-col>
                <ion-col col-12>
                    <ion-item text-center>
                        <ng-container *ngFor="let item of product?.allergens">
                            <ion-icon color="secondary" name="arrow-dropright"></ion-icon> {{item}}
                        </ng-container>
                    </ion-item>
                </ion-col>
                 <ion-col col-3>
                    <img class="product-icon-40" src="./assets/imgs/trace-48.png">
                </ion-col>
                <ion-col col-6>
                    <ion-content text-center>
                        <br><h2>Traces </h2><hr>
                    </ion-content>
                </ion-col>
                <ion-col col-3>
                </ion-col>
                <ion-col col-12>
                    <ion-item text-center>
                        <ng-container *ngFor="let item of product?.traces.split(',')">
                            <ion-icon color="secondary" name="arrow-dropright"></ion-icon> {{item}}
                        </ng-container>
                    </ion-item>
                </ion-col>
                 <ion-col col-3>
                    <img class="product-icon-40" src="./assets/imgs/scale-40.png">
                </ion-col>
                <ion-col col-6>
                    <ion-content text-center>
                        <br><h2>Quantité </h2><hr>
                    </ion-content>
                </ion-col>
                 <ion-col col-3>
                    <ion-content text-center>
                        <br><h2>{{product?.quantity}}</h2>
                    </ion-content>
                </ion-col>
            </ion-row>
        </ion-card>
  <ion-card >
            <ion-row>
                <ion-col col-3>
                    <img class="product-icon-40" src="./assets/imgs/list-40.png">
                </ion-col>
                <ion-col col-6>
                    <ion-content text-center>
                        <br><h2>Tableau nutrionnelle </h2>
                    </ion-content>
                </ion-col>
                <ion-col col-3>
                </ion-col>
                <ion-col col-12>
                    <ion-item text-center>
                            <hr><p>TODO</p>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-fab right bottom name="navToScan">
        <button ion-fab color="light" (click)="navToScan()">
            <ion-icon name="barcode"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab left bottom>
        <button ion-fab color="light" (click)="navToHistory()">
            <ion-icon name="list"></ion-icon>
        </button>
    </ion-fab>
</ion-footer>
