page-product {

    .product-image {
        width: 100%;
        position: relative;
        opacity:1;
    }

    .icons-ok {
        width: 100%;
        position: relative;
        opacity:1;
    }

    .thumbs-down thumbs-down {
       width: 124px !important;
       height: 124px !important;
    }

    ion-avatar img  {
        width: 85% !important;
        height : 85% !important;
    }

}
