page-product {

    .product-image {
        width: 100%;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

     .nutrition-image {
        width: 50%;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .product-icon-100 {
        width: 100px;
        height: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .product-icon-40-left {
      float: left;
        width: 40px;
        height: 45px;
    }

    .product-icon-40 {
        width: 40px;
        height: 45px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

}
